{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .i-color{
    color: #fca311;
}
</style>
<div class="container  mt-5">
    <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <a href="https://www.nothing.care/sv" target="_blank"><img src="{% static 'main/images/nothing.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
        <div class="col-sm-4">
             <a href="https://cleargrid.io/" target="_blank"><img src="{% static 'main/images/cleargrid.PNG' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
        <div class="col-sm-4">
            <a href="https://lumenaryinvest.com/" target="_blank"><img src="{% static 'main/images/lumenary.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <a href="https://app.crowdbotics.com/dashboard/accounts/login" target="_blank"><img src="{% static 'main/images/cro.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="100px"></a>
        </div>
        <div class="col-sm-4">
             <a href="https://g-techsolutions.com.au/" target="_blank"><img src="{% static 'main/images/gtech.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
        <div class="col-sm-4">
            <a href="https://schwaene-versichern.herokuapp.com/" target="_blank"><img src="{% static 'main/images/OSKAR-NEWS.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
             <a href="https://seeks.edu.pk/" target="_blank"><img src="{% static 'main/images/seeks2.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
        <div class="col-sm-4">
             <a href="http://thepumpkinstudios.com/" target="_blank"><img src="{% static 'main/images/PUMPKIN.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
        <div class="col-sm-4">
            <a href="https://carbuyerminnesota.com/" target="_blank"><img src="{% static 'main/images/carbuyermintosta.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
    </div>

     <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
             <a href="https://beautysalon12.herokuapp.com/" target="_blank"><img src="{% static 'main/images/salon1.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
        <div class="col-sm-4">
             <a href="https://lamajo-f7design.herokuapp.com/" target="_blank"><img src="{% static 'main/images/transport1.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
        <div class="col-sm-4">
            <a href="http://garagelynk.ie/" target="_blank"><img src="{% static 'main/images/garagelynk.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px"></a>
        </div>
    </div>
</div>


{% endblock content %}