{% extends 'base.html' %}
{% block content %}
<style>
    .i-color{
    color: #fca311;
}
</style>
<div class="container  mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Get your website ranked on major search engines with our white hat SEO strategies. Improve your Rankings, Traffic, and Visitor Experience the easy way.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Designing</h3>
            <p class="ss-color">Turn your website into a high-performing marketing tool for your business. Get stylish designed websites that drive traffic, leads, and generate conversions.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Our constantly endeavors to give customized front line arrangements, all through of box thinking, for our esteemed customers. </p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-robot fa-2x mb-3 i-color"></i>
            <h3>Machine Learning</h3>
            <p class="ss-color">Our developers use cutting-edge technologies to solve business problems and innovate beyond the current market.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">You know your business. We know design. Work with our talented design community to create a custom logo that leaves a lasting impression.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">Our in-house, expert team is always on hand to help answer your questions, get you started, and grow your presence online.</p>
        </div>
        
    </div>
</div>


{% endblock content %}